<h1>Editing <%=@dish.name%></h1>

<%= render 'form' %>

<button type="button" class="btn btn-danger"><%= link_to 'Delete', @dish, method: :delete, data: { confirm: 'Are you sure?' }%></button>
<button type="button"><%= link_to 'Back', dishes_path %></button>
